#root {
  max-width: 100%;
  padding: 2rem;

}

.settings-bar-section {
  display: flex;
  justify-content: space-around;
}

.timer-settings, .operators-settings {
  width: 40%;
}

.level-settings {
  width: 20%;
}

.timer-settings p, .level-settings p, .operators-settings p {
  margin-bottom: 4px;
}

.timer-fields {
  display: flex;
}

.game-container, .board-container {
  display: flex;
}

.game-container {
  flex-direction: row-reverse;
  margin-top: 120px;
}

.board-container {
  height: 20%;
  margin: auto;
}

.board-container p {
  font-size: 64px;
  font-weight: 600;
}

.board-container input {
  width: 120px;
  height: 60px;
  margin: auto 20px;
  font-size: 42px;
  padding: 20px;
}
