#root {
  max-width: 1280px;
  padding: 2rem;

}

.settings-bar-section {
  display: flex;
  justify-content: space-around;
}

.timer-settings, .level-settings, .operators-settings {
  width: 32%;
}

.timer-settings p, .level-settings p, .operators-settings p {
  margin-bottom: 4px;
}

.timer-fields {
  display: flex;
}
