#root {
  max-width: 100%;
  padding: 2rem;
}

.settings-bar-section, .timer-fields, .game-container, .board-container, .score-container, .guess-container {
  display: flex;
}

.game-container {
  padding: 60px 0;
}

.board-container {
  margin-top: 60px;
}

.timer-container {
  width: 33%;
}

.settings-bar-section {
  justify-content: space-around;
}

.score-container p {
  font-size: 36px;
  margin-bottom: 24px;
}

.guess-container, .score-container {
  justify-content: center;
}

.guess-container h2 {
  font-size: 90px;
  font-weight: 600;
  margin-right: 40px;
}

.board-container input {
  width: 40px;
  font-size: 64px;
  padding: 0 20px;
}

.scores-container {
  border: 2px solid #000;
  padding: 20px;
  min-height: 350px;
  width: 30%;
  border-radius: 10px; 
  box-shadow: 5px 20px 25px 7px #ccc;
}

.scores-container ol li {
  font-size: 24px;
}

.play-container {
  width: 100%;
  margin: 20px;
}

.play-container, .scores-container {
  margin: auto 20px;
}

.settings-bar-section {
  flex-direction: column;
}

.timer-settings, .operators-settings, .level-settings {
  width: 100%;
  margin: 10px;
}

.slider-container input {
  margin: 12px;
  width: 75%;
}

@media(min-width: 1299px){

    .settings-bar-section {
      flex-direction: row;
    }

    .play-container, .score-container {
      width: 100%;
    }

    .timer-settings, .operators-settings {
      width: 50%;
    }
    
    .level-settings {
      width: 29%;
    }
    
    .timer-settings p, .level-settings p, .operators-settings p {
      margin-bottom: 4px;
    }
    
    .timer-container {
      text-align: center;
      width: 100%;
      padding: 0 0 40px 0;
    }
    
    .board-container {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
  }
}

